<!--pre footer section-->
<div class="footerParent positionRelative" id="appFooterParent"
data-hasloaded="false"
data-mp4="{{ relBase }}assets/videos/keyboard-lights-bg-video.mp4"
data-webm="{{ relBase }}assets/videos/keyboard-lights-bg-video.webm"
>
  <div class="posContainer">
    <h2>Have look inside and see how to get things done.</h2>
    <div class="buttonContainer customRow">
      <a target="_blank" href="https://github.com/sricharankrishnan/click-image-play-youtube-video/tree/master/plugin-bundle-files" class="defaultButton secondaryBlack">
      Download jQuery Files</a>
      <a target="_blank"
      href="https://github.com/sricharankrishnan/react-youtube-overlay-component"
      class="defaultButton secondaryBlack last">Download React Files</a>
    </div>
  </div>
</div>
<!--pre footer section-->

<!--footer section-->
<div class="footerInfo">
  <div class="customRow">
    <div class="segment one">
      <h3>Who made this</h3>
      <p>Click Image Play Youtube Video is made by Sricharan Krishnan - <a href="https://github.com/sricharankrishnan">(https://github.com/sricharankrishnan)</a></p>
    </div>
    <div class="clearfix hidden-xs hidden-lg"></div>
    <div class="segment two">
      <h3>Disclaimer</h3>
      <p>This software is free to distribute and can be used on your apps that support the specified languages and stylesheets.
      The creator does not gaurantee any future updates nor can be held responsible for any unforseen circumstances. The intention to build
      this software is to merely help developers.</p>
    </div>
    <div class="segment three">
      <h3>Support</h3>
      <p>If you like whats been built, support this project with a star on Github. This would help encourage future projects and
      perhaps even better version updates for this software!</p>
    </div>
  </div>
</div>
<!--footer section-->

<!--google ad space-->
<div class="hidden-xs gadSpace">
  <div class="borderBoxContainer">
		<style>
			.myGad {
				margin: 0 auto;
			}
		</style>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Ad Space Lg -->
		<ins class="adsbygoogle myGad"
				 style="display:block;width:728px;height:90px"
				 data-ad-client="ca-pub-7129312127229999"
				 data-ad-slot="4028246948"></ins>
		<script>
				 (adsbygoogle = window.adsbygoogle || []).push({});
		</script>
  </div>
</div>
<!--google ad space-->

<!--google ad space-->
<div class="visible-xs gadSpace">
  <div class="borderBoxContainer">
		<style>
			.myGad {
				margin: 0 auto;
			}
		</style>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Large Mobile Banner (320×100) -->
		<ins class="adsbygoogle myGad"
				 style="display:block;width:320px;height:100px"
				 data-ad-client="ca-pub-7129312127229999"
				 data-ad-slot="5984172504"></ins>
		<script>
				 (adsbygoogle = window.adsbygoogle || []).push({});
		</script>
  </div>
</div>
<!--google ad space-->
