<div class="footerParent positionRelative" id="appFooterParent"
data-hasloaded="false"
data-mp4="{{ relBase }}assets/videos/keyboard-lights-bg-video.mp4"
data-webm="{{ relBase }}assets/videos/keyboard-lights-bg-video.webm"
>
  <span class="hidden-xs bannerStrip"></span>
  <span class="dotBanner hidden-xs"></span>
  <div class="posContainer">
    <h2>Ready To Get Started?</h2>
    <p>Have look inside and see how to get things done.</p>
    <div class="buttonContainer customRow">
      <a target="_blank" href="https://github.com/sricharankrishnan/click-image-play-youtube-video/blob/master/README.md" class="defaultButton primaryBlack">Read Docs</a>
      <a target="_blank" href="https://github.com/sricharankrishnan/click-image-play-youtube-video/tree/master/plugin-bundle-files" class="defaultButton secondaryBlack">Download Files</a>
    </div>
  </div>
</div>

<div class="footerInfo">
  <div class="customRow">
    <div class="segment">
      <h3>Who made this</h3>
      <p>Click Image Play Youtube Video is made by Sricharan Krishnan - <a href="https://github.com/sricharankrishnan">[https://github.com/sricharankrishnan]</a></p>
    </div>
    <div class="segment">
      <h3>Disclaimer</h3>
      <p>This software is free to distribute and can be used on your apps that support the specified languages and stylesheets.
      The creator does not gaurantee any future updates nor can be held responsible for any unforseen circumstances. The intention to build
      this software is to merely help developers.</p>
    </div>
    <div class="segment">
      <h3>Support</h3>
      <p>If you like whats been built, support this project with a star on Github. This would help encourage future projects and 
      perhaps even better version updates for this software!</p>
    </div>
  </div>
</div>
