@import "variables";

.footerParent {
  padding: 60px 15px;
  .posContainer {
    width: 100%;
    max-width: 450px;
    h2 {
      margin-top: 0;
      font-size: 4.0rem;
      font-weight: 300;
      line-height: 47px;
      margin-bottom: 40px;
    }
    .buttonContainer {
      .defaultButton {
        margin: 0;
        width: 49.5%;
        float: left;
        border-radius: 0;
      }
      .defaultButton:first-child {
        margin-right: 1%;
        border-color: $red;
        background: $red;
      }
    }
  }
}
.footerInfo {
	padding: 60px 0;
	border-top: 1px solid #eee;
	.customRow {
		.segment {
			padding: 15px;
			h3 {
				margin-top: 0;
				color: $red;
				text-transform: none;
				font-size: 1.4rem;
			}
			p {
				margin-bottom: 0;
				font-size: 1.4rem;
				line-height: 22px;
				color: #444;
			}
		}
	}
}
@media only screen and (min-width: 768px) {
  .footerParent {
    padding: 120px 15px;
    max-width: 1200px;
    margin: 0 auto;
    .posContainer {
      max-width: 50%;
    }
    .videoParent {
			width: 40%;
			left: auto;
			right: 0;
			height: 90%;
			top: 5%;
    }
  }
	.footerInfo {
		.customRow {
			max-width: 1200px;
			margin: 0 auto;
			.segment.one {
				width: 50%;
				margin-bottom: 20px;
			}
			.segment.two, .segment.three {
				width: 45%;
				float: left;
			}			
			.segment.two {	
				margin-right: 5%;
			}
		}		
	}
}
@media only screen and (min-width: 1200px) {
	.footerParent {
		.posContainer {
      max-width: 40%;
      h2 {
        font-size: 5.2rem;
        line-height: 59px;
      }
		}
		.videoParent {
			width: 50%;
		}
	}	
	.footerInfo {
		.customRow {
			.segment.one,
			.segment.two,
			.segment.three {
				width: calc(100%/3);
				float: left;
			}
			.segment.one {
				margin-bottom: 0;
			}
			.segment.two {	
				margin-right: 0;
			}
		}		
	}
}
