---
#Front End Matter Initialization - Do Not Delete This
---
@import "common";
@import "app-header";
@import "app-footer";
@import "youtube-overlay";
@import "html-video-bg";

.homePage {
  .jumbotronSection {
    .posContainer {
      padding: 60px 15px;
      .smallText {
        font-size: 1.0rem;
        text-transform: uppercase;
        display: block;
        color: #777;
      }
      hr {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      h1 {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 5.0rem;
      }
      p {
        margin-top: 30px;
        line-height: 24px;
        font-weight: 300;
      }
    }
  }
  .demoSection {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 45px 15px;
    .demoCarousel {
      max-width: 1200px;
      margin: 0 auto;
      .owl-stage {
        padding-left: 0 !important;
      }
      .carouselItem {
        margin-right: 15px;
        cursor: pointer;
        img {
          margin-bottom: 30px;
        }
        .heading, .smallText {
          display: block;
        }
        .smallText {
          font-size: 1.0rem;
          text-transform: uppercase;
          color: #555;
          margin-bottom: 10px;
        }
        .heading {
          font-weight: 600;
          margin-bottom: 15px;
        }
        .playBtn {
          border: 0;
          border-bottom: 1px solid $black;
          border-radius: 0;
          line-height: 25px;
          padding: 0;
          font-weight: 400;
          letter-spacing: 3px;
        }
      }
      .owl-dots {
        margin-top: 25px; 
        .owl-dot {
          span {
            width: 8px;
            height: 8px;
            margin: 5px;
            background: #869791;
          }
        }
        .owl-dot.active {
          span {
            background: $red;
          }
        }
      }
    }
  }
  .gadSpace {
    padding: 15px;
    background: #fafafa;
  }   
}
@media only screen and (min-width: 768px) {
  .homePage {
    .jumbotronSection {
      max-width: 1200px;
      margin: 0 auto;
      .posContainer {
        width: 50%;
      }
      .segment {
        cursor: pointer;
        width: 40%;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        .jumboimg {
          margin-bottom: 10px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .homePage {
    .jumbotronSection {
      .posContainer {
        padding: 100px 45px;
        h1 {
          font-size: 7rem;
        }
      }
      .posContainer:before {
        content: "";
        width: 1px;
        height: 50%;
        background: #eee;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
      }
      .segment {
        right: 0;
      }
    }
  }
}
